PYTHON ASSIGNMENT -2 ( DATA STRUCTURE)

1.Discuss string slicing and provide examples

Ans :-


        string slicing is a operation is can held on main string and taken as substring from main string and can be done using square bracket operator[] slicing operation index start from 0 and it is inclusive and till last character that is exclusive

a = "Mayurpawar"
a[0]

In [1]:
a = "Mayurpawar"
a[0]
#to print full string
a[0::]
#to reverse string
a[::-1]
#to slice upto ramesh
a[0:6]

#to slice one more one 2x
a[0::2]

'Myraa'

2.KEY FEATURES OF LIST IN PYTHON

ANS:-

  1. List is mutable
  2. List is an data structure
  3. list can be done using [] brackets
  4. list is an ordered collection of data
  5. list can store any data type
  6. list can support append objects
  7. List data structure can be used in groceries to buy more than one item/element
  8. list is an ordered pairs
  9. List is seperated by commas
  10. list can store multiple data types

  This all are the feature of list in python

3.Describe how to access, modify, and delete elements in a list with examples.

ANS;-

    list is mutable means it can modify and a varaible and use more than same element and store in blocks of data with index values
    let me see how can we access , modify , and delete list in python

(i) accessing a list ;-

In [4]:
a =["python","java","c++","html"]
# let access the list by using their index and index starts with 0
a[0]
#if we want to access list java then
a[1]

#we can also access a list of all items using loops

for i in a:
  print(i, end = " ")

python java c++ html

(ii)  MODIFYING THE EXISTING LIST

In [5]:
#we can add a element in list using append() and it can store the element at the end of the list
a.append("javascript")
print(a)

['python', 'java', 'c++', 'html', 'javascript']

In [ ]:
#We can also add a element in list by their excat index value accurate position where we want to store

In [6]:
 r = ["ramesh","anu","aanchal","neha"]

 r.insert(1,"neetu")
 r
 #using insert function we can add any element where we want to store by using index

['ramesh', 'neetu', 'anu', 'aanchal', 'neha']

deleting single or list in python

In [7]:
r
r.remove("neetu")
r
#using remove function we can delete an element by using remove function with values

['ramesh', 'anu', 'aanchal', 'neha']

In [ ]:
#if we want to clear all items list by using clear()
r.clear()
r#it will give empty list
del r
#using this we can delete an entire list
r #after deleting list we cannot access that list and if we try that will throw an erro

NameError: name 'r' is not defined

4.Compare and contrast tuples and lists with examples

ANS:-

TUPLES                                                         LISTS **bold text**

TUPLES

  1. Tuples are immutable
  2. tules can be stored in paranthesis()
  3. tuples can store multiple data type()
  4. tuples are ordered collection of elements
  5. Tuples are heterogeneous
  6. tuples can be used in that database where you cannot want to modify data
  7. nested tuples are supported in a tuple

list

       Lists  are mutable
       List  can be stored in square bracket[]
       List can store multiple data type()
      ***`List`*** are ordered collection of elements
       List  are homogeneous
       list can be used in that database where you  want to modify data
       nested list  are supported in a list

5. Describe the key features of sets and provide examples of their use

ANS:-

     1.sets are unordered collection of data
     2. set give us unique data
     3. sets are unsubcriptable
     4. set can store data in curly braces{}
     5. it does not give duplicate elements
     6. set inside set is immutable

In [9]:
s = {"ram","ram", 1,1,3,5,5,6,8}
#it contains duplicate elements but when we try to execute it give unique elements
s
#duplicates are ignored by sets and gives unique elements

{1, 3, 5, 6, 8, 'ram'}

6.Discuss the use cases of tuples and sets in Python programming

ANS:-

(i) use case of tuples
       
         Tuples used in the data structure where you dont want to modify data
         they are immutable
         tuples cannot modify but they can be modify with new tuple and store in a new tuple
         tuples are a good data structure to store unmodified data

(ii) USE CASE OF SET

 1.sets are unordered collection of data
 2. set give us unique data
 3. sets are unsubcriptable
 4. set can store data in curly braces{}
 5. it does not give duplicate elements
 6. set inside set is immutable

 7. Describe how to add, modify, and delete items in a dictionary with example

 ANS:-

In [ ]:
b  = {"name":"Ajay", "email":"aj@gmail.com", "contact": 1234}

in above a dictionary is created lets see how we can modify and add elements in dictionary

In [10]:
  b = {"name":"ramesh ", "email":"ram@gmail.com", "contact": 93456}
  # now we are going one new key with value
  b["age"] = 18   #add a new key with value
  b

{'name': 'ramesh ', 'email': 'ram@gmail.com', 'contact': 93456, 'age': 18}

modifying existing dictionary

In [12]:
b["name"] = "suresh "
b        #this is used to modify the element in dictionary

#

{'name': 'suresh ', 'email': 'ram@gmail.com', 'contact': 93456, 'age': 18}

In [ ]:
#deleting elements in dictionary
del b["name"]
b

{'email': 'ram@gmail.com', 'contact': 93456, 'age': 18}

8. Discuss the importance of dictionary keys being immutable and provide

ANS:-

Importance of keys in dictionary
         
          keys are immutable in python
          keys in python used to access the value that is paired with key
          keys are unique and not defined using same variable
          keys are displaying the object that is associated with variable

use case
    sets can be used in that area where duplicate not allowed
    example
     employee id
     roll number
     aadhar number etc